html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Gabarito', cursive;
	color: #1f2439;
	background-color: #fcfafa;
	margin-bottom: 100px;
	min-height: 100%;
}

.black {
	width: 100%;
	background-color: #1f2439;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.blackTextContainer {
	align-self: center;
}

.black h3 {
	color: #fcfafa;
	padding: 0;
	margin: 0;
	font-weight: lighter;
	font-size: 36px;
}

.black p {
	color: #fcfafa;
	padding: 0;
	margin: 10px 0 0 0;
	font-size: 18px;
}

.calcZonesBtn {
	width: 80%;
	background-color: #fcfafa;
	border: none;
	color: #1f2439;
	border-radius: 6px;
	padding: 15px 0;
	cursor: pointer;
	display: block;
	margin: 40px 0 0 0;
}

@media screen and (max-width: 1010px) {
	.black {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.black h3,
	p,
	.calcZonesBtn {
		text-align: center;
		margin: 0 auto;
	}

	.black h3 {
		margin-top: 60px;
	}

	.calcZonesBtn {
		margin-bottom: 80px;
		margin-top: 40px;
	}
}
