.footerContainer {
	width: 100%;
	clear: both;
	position: relative;
	color: #1f2439;
	background-color: #f0f0f0;
}

.footer {
	max-width: 1350px;
	margin: 0 auto;
	padding: 60px 10% 40px 10%;
	margin-top: 100px;
	display: flex;
	justify-content: flex-start;
}

.footer img {
	width: 100px;
	margin-left: 50px;
}

.footerTitle {
	width: 40%;
}

.footer h3 {
	padding: 0;
	margin: 0 0 30px 0;
	text-align: left;
}

.footerText {
	/* width: 50%; */
}

.footer p {
	text-align: left;
	margin-bottom: 20px;
	font-size: 16px;
	padding-top: 0;
	margin-top: 0;
}

.footer a {
	color: #1f2439;
	text-decoration: none;
}

.copy {
}

/* 1f2439 */
/* fcfafa */

@media only screen and (max-width: 1000px) {
	.footerTitle {
		width: 100%;
	}

	.copy {
		display: none;
	}

	.footer h3 {
		margin: 0 0 30px 0;
		text-align: center;
	}

	.footer img {
		display: none;
	}

	.footer p {
		display: flex;
		justify-content: center;
	}

	.footer {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.footerText {
	}
}
