.footer {
	width: 100%;
	clear: both;
	position: relative;
	color: #1f2439;
	padding: 0.5px 0;
	background-color: #fcfafa;
	margin-top: 100px;
}

.footer p {
	text-align: center;
}
/* 1f2439 */
/* fcfafa */
