.container {
	width: 100%;
	border-bottom: 1px solid #1f24393d;
}

.innerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 25px auto 25px auto;
	max-width: 1350px;
}

.innerContainer h1 {
	font-size: 36px;
	font-weight: 600;
	margin: 0;
	letter-spacing: 1px;
}

.innerContainer button {
	color: #5165f5;
	font-weight: 500;
	font-size: 16px;
}

.link {
	text-decoration: none;
	color: #1f2439;
}

.link:active {
	color: #1f2439;
}
