.containerZone2 {
	max-width: 1350px;
	padding: 0 3%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.containerZone2 img {
	height: 550px;
	width: 500px;
	margin-top: 100px;
	filter: grayscale(1);
	border-radius: 6px;
	margin-top: 125px;
}

.containerZone2 h3 {
	text-align: left;
	padding: 0;
	margin: 100px 0 0 0;
	font-size: 36px;
	width: 550px;
}

.containerZone2 h4 {
	/* margin-top: 50px; */
	margin-left: 30px;
}

.containerZone2 .subHeading {
	text-align: left;
	font-size: 18px;
	padding: 0;
	max-width: 550px;
	margin-top: 20px;
}

.benefits {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 60px;
	margin-right: 40px;
}

.benefits .contentWrapper {
	width: 100%;
	min-height: auto;
	background-color: #f0f0f0;
	margin: 10px 0px;
	border-radius: 6px;
	text-align: left;
	padding: 10px 0;
	cursor: pointer;
}

.upperContent {
	display: flex;
	justify-content: space-between;
}

.upperContent span {
	margin-right: 30px;
	margin-top: 20px;
}

.contentWrapper p {
	margin-top: 0;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	transition: max-height 0.5s ease;
	max-height: 0;
	overflow: hidden;
	max-width: 600px;
}

.contentWrapper.open p {
	max-height: 500px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1190px) {
	.containerZone2 h3 {
		font-size: 30px;
		width: 450px;
	}
	.containerZone2 .subHeading {
		max-width: 450px;
	}
	.benefits {
		margin-right: 40px;
	}
}

@media only screen and (max-width: 1000px) {
	.containerZone2 {
		flex-direction: column-reverse;
	}
	.containerZone2 img {
		width: 100%;
		margin-top: 40px;
		height: 450px;
		object-fit: cover;
		object-position: 25% 75%;
	}

	.containerZone2 h3 {
		width: 100%;
		margin-top: 40px;
	}
	.containerZone2 .subHeading {
		max-width: 100%;
	}

	.benefits {
		margin-right: 0;
	}

	.contentWrapper p {
		max-width: 100%;
		text-align: left;
	}
}

@media only screen and (max-width: 768px) {
	.containerZone2 {
		width: 100%;
		padding: 0 0;
	}
	.containerZone2 img {
		margin-top: 0;
		border-radius: 0;
	}

	.containerZone2 h3 {
		/* margin: 40px 5%; */
		width: 90%;
		margin: 40px auto 20px auto;
	}

	.containerZone2 .subHeading {
		margin: 10px auto;
		max-width: 90%;
	}

	.benefits {
		padding: 0 3%;
	}
}

@media screen and (max-width: 510px) {
	.containerZone2 h3 {
		font-size: 30px;
	}
	.benefits div {
		margin-top: 15px;
	}
}
