.containerZone2 {
	max-width: 1350px;
	padding: 0 3%;
	margin: 0 auto;
}

.containerZone2 h3 {
	text-align: center;
	padding: 0;
	margin: 80px 0 0 0;
	font-size: 36px;
}

.containerZone2 h4 {
	margin-top: 50px;
}

.containerZone2 p {
	text-align: center;
	font-size: 18px;
	padding: 0 40px;
}

.benefits {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.benefits div {
	width: 300px;
	min-height: 290px;
	background-color: #f2f5f9;
	margin: 0 10px;
	border-radius: 6px;
	text-align: center;
}

@media only screen and (max-width: 1170px) {
	.containerZone2 {
		max-width: 800px;
	}

	.benefits {
		flex-wrap: wrap;
	}
	.benefits div {
		margin-top: 20px;
	}
	.subHeading {
		margin-top: 20px;
	}
}

@media screen and (max-width: 510px) {
	.subHeading {
		margin-top: 20px;
		font-size: 18px !important;
	}
	.containerZone2 h3 {
		font-size: 30px;
	}
	.benefits div {
		margin-top: 15px;
	}
}
