.containerZone2 {
	max-width: 1350px;
	padding: 0 3%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.containerZone2 img {
	height: 600px;
	width: 500px;
	margin-top: 100px;
	filter: grayscale(1);
}

.containerZone2 h3 {
	text-align: left;
	padding: 0;
	margin: 100px 0 0 0;
	font-size: 36px;
	width: 550px;
}

.containerZone2 h4 {
	/* margin-top: 50px; */
	margin-left: 30px;
}

.containerZone2 p {
	text-align: left;
	font-size: 18px;
	padding: 0 40px;
}

.benefits {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 60px;
}

.benefits .contentWrapper {
	width: 600px;
	min-height: auto;
	background-color: #f1f1f1;
	margin: 10px 0px;
	border-radius: 6px;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}

.upperContent {
	display: flex;
	justify-content: space-between;
}

.upperContent span {
	margin-right: 30px;
	margin-top: 20px;
}

.contentWrapper p {
	margin-top: 0;
	margin-bottom: 10px;
	transition: max-height 0.5s ease;
	max-height: 0;
	overflow: hidden;
}

.contentWrapper.open p {
	max-height: 500px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1170px) {
	.containerZone2 {
		max-width: 800px;
	}

	.benefits {
		flex-wrap: wrap;
	}
	.benefits div {
	}
}

@media screen and (max-width: 510px) {
	.subHeading {
		margin-top: 20px;
		font-size: 18px !important;
	}
	.containerZone2 h3 {
		font-size: 30px;
	}
	.benefits div {
		margin-top: 15px;
	}
}
