.modal {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.362);
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

.modalContent {
	max-width: 800px;
	margin: 100px auto 0 auto;
	background-color: #fcfafa;
	border-radius: 4px;
	padding: 10px;
}
