.wrapper {
	padding: 0 3%;
	max-width: 1350px;
	margin: 0 auto;
	overflow-x: auto;
	white-space: nowrap;
}

.programContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	margin-top: 100px;
}

.item {
	flex: 1;
	flex-basis: 100%;
	margin: 10px;

	border-radius: 4px;
}

.header {
	padding: 7px 0;
	/* background-color: #5165f5; */
	text-align: center;
	letter-spacing: 1px;
}

.tableWrapper {
	width: 100%;
}

.row:nth-child(even) {
	background-color: #f2f5f9;
}
.row:last-child {
	border: 2px solid #1f2439;
}

.workoutHeaderWrapper {
	border-bottom: 2px solid #1f2439;
}

.workoutHeader {
	padding: 10px;
	/* border-bottom: 2px solid #1f2439; */

	background: #1f2439;
	color: #fcfafa;
	/* border-radius: 6px 6px 0 0; */
}

.workoutHeader:first-child {
	border-radius: 6px 0px 0 0;
}

.workoutHeader:last-child {
	border-radius: 0px 6px 0 0;
}

.weekHeader div {
	padding-bottom: 10px;
}

.workoutSpan {
	padding: 10px 0 10px 10px;
}

.workoutSpan div {
	padding-bottom: 10px;
}

.weeklyDistance {
	padding: 10px;
}
