.mainSection {
	max-width: 1350px;
	margin: 0 auto;
	padding: 40px 3%;
}

.bg {
	width: 100%;
	height: 450px;
	object-fit: cover;
	object-position: 50% 85%;
	border-radius: 6px 6px 0 0;
	border: 0.5px solid #1f24393d;
	filter: grayscale(1);
}

.mainSectionContent {
	border-bottom: 0.5px solid #1f24393d;
	border-right: 0.5px solid #1f24393d;
	border-left: 0.5px solid #1f24393d;

	margin: -0.6em 0;
	border-radius: 0 0 6px 6px;
	padding: 20px 0;
	width: 100%;
}

.header {
	position: absolute;
	z-index: 999;
	font-size: 72px;
	margin-top: 120px;
	margin-left: 250px;
	color: #fcfafa;
}

.mainSectionContentText {
	display: flex;
}

.headingWrapper {
	border-bottom: 0.5px solid #1f24393d;
	padding: 5px 3%;
}

.textWrapper {
	padding: 0 3%;
}

.mainSectionContent h2 {
	font-size: 28px;
}

.mainSectionContent p {
	font-size: 18px;
	line-height: 30px;
	text-align: left;
}

.linkZone2 {
	color: #5165f5;
	cursor: pointer;
}

.mainSectionContent ul {
	list-style-type: none;
	padding-left: 0;
}

.mainSectionContent li {
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	margin-bottom: 30px;
}

.leftSide {
	border-right: 0.5px solid #1f24393d;
	margin-top: -15px;
	width: 61%;
}

.rightSide {
	/* border-left: 0.5px solid #1f24393d;
	border-bottom: 0.5px solid #1f24393d; */
	width: 40%;
}

.table {
	width: 90%;
	margin: 20px auto;
	border: 0.5px solid #1f24393d;
	border-radius: 6px;
}

.zonesHeader {
	/* background: #1f2439;
	color: #fcfafa; */
	margin-bottom: 40px;
	border-bottom: 0.5px solid #1f24393d;
}

.zonesHeader th {
	border-bottom: 0.5px solid #1f24393d;
	border-right: 0.5px solid #1f24393d;
	padding: 10px;
}

.zonesHeader th:last-child {
	border-right: none;
}

.zonesBody td {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 0.5px solid #1f24393d;
}

.zonesBody:last-child td {
	border-bottom: none;
}

.intensity {
	width: 10px;
	height: 10px;
	margin: 0 auto;
	border-radius: 6px;
}

.zonesBody:nth-child(1) .intensity {
	background-color: #c1b7ff;
}

.zonesBody:nth-child(2) .intensity {
	background-color: #75b4ff;
}

.zonesBody:nth-child(3) .intensity {
	background-color: #5165f5;
}

.zonesBody:nth-child(4) .intensity {
	background-color: #ab5cf2;
}

.zonesBody:nth-child(5) .intensity {
	background-color: #ff65a3;
}

@media screen and (max-width: 1053px) {
	.mainSectionContentText {
		flex-direction: column;
	}

	.leftSide {
		width: 100%;
		border-bottom: 0.5px solid #1f24393d;
	}

	.rightSide {
		width: 100%;
		margin-top: 20px;
	}
}

/* #1f2439 #fcfafa */
