.introWrapper {
	display: flex;
	flex-direction: row;
	margin-top: 100px;
	margin: 100px auto 0 auto;
	width: 80%;
}

.introTextWrapper {
	width: 80%;
}

.tableWrapper {
	justify-content: flex-end;
	display: flex;
	width: 100%;
}

.table {
	border-collapse: collapse;
}

.zonesHeader {
	background-color: #1f2439;
	color: #fcfafa;
	width: 100px;
}

.zonesHeader th {
	padding: 10px 20px 10px 20px;
	text-align: center;

	border-radius: 4px 4px 0 0;
	border-bottom: 3px solid #fcfafa;
}

.zonesHeader th:nth-child(n + 2) {
	border-left: 3px solid #fcfafa;
}

.zonesBody td {
	color: #fcfafa;
	padding: 15px 15px;
	border-bottom: 3px solid #fcfafa;
	text-align: center;
}

.zonesBody:last-child td {
	border-radius: 0 0 4px 4px;
}

.zonesBody:nth-child(1) {
	background-color: #c1b7ff;
}

.zonesBody:nth-child(2) {
	background-color: #75b4ff;
}

.zonesBody:nth-child(3) {
	background-color: #5165f5;
}

.zonesBody:nth-child(4) {
	background-color: #ab5cf2;
}

.zonesBody:nth-child(5) {
	background-color: #ff65a3;
}
