.programContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
}

.item {
	flex: 1;
	flex-basis: 100%;
	margin: 10px;

	border-radius: 4px;
}

.header {
	padding: 7px 0;
	/* background-color: #5165f5; */
	text-align: center;
	border: 2px solid #1f2439;
	border-radius: 4px 4px 0 0;
	letter-spacing: 1px;
}

.row {
	display: flex;
}

.row:nth-child(even) {
	background-color: #5164f51a;
}
.row:last-child {
	border: 2px solid #1f2439;
}

.weekDay {
	height: 100%;
	/* border-left: 2px solid #1f2439; */
	border-right: 2px solid #1f2439;
	padding: 20px 0;
	width: 100px;
	text-align: center;
}
