.container {
	width: 350px;
	height: auto;
	background: #fff;
	border-radius: 6px;
	border: 1px solid #1f24393d;
}

.innerContainer {
	margin-top: -25px;
}

.container h3 {
	color: #1f2439;
	font-size: 18px;
	text-align: left;
	margin-left: 15px;
	padding-top: 30px;
}

.container label {
	display: block;
	margin-left: 15px;
}

.container input {
	width: 90%;
	height: 35px;
	border: none;
	background: #f2f5f9;
	border-radius: 6px;
	display: block;
	margin: 0 auto 30px auto;
	padding-left: 10px;
}

.container input::placeholder {
	color: rgba(31, 36, 57, 0.783);
	font-size: 14px;
	/* padding: 10px; */
}

.container .submit {
	width: 90%;
	background-color: #5165f5;
	border: none;
	color: #fcfafa;
	border-radius: 6px;
	padding: 15px 0;
	cursor: pointer;
	display: block;
	margin: 10px auto 0 auto;
}

.container .aboutZones {
	width: 100%;
	padding: 20px 0;
	border-radius: 0 0 4px 4px;
	background: #f2f5f9;
	text-align: center;
	margin-top: 20px;
}

.container .aboutZones span {
	font-size: 14px;
}
